In [1]:
import pandas as pd
import numpy as np

In [3]:
dfa = pd.read_csv("data.csv")

In [4]:
dfa

  col_a  col_b col_c  col_d
0   ggg    234   yes     20
1   juk    402    no     30
2   fgt    206     n     78
3   fas    290     y    209
4   dst    680     Y    823

In [5]:
dfa.replace("Y", "y")

  col_a  col_b col_c  col_d
0   ggg    234   yes     20
1   juk    402    no     30
2   fgt    206     n     78
3   fas    290     y    209
4   dst    680     y    823

In [6]:
dfa

  col_a  col_b col_c  col_d
0   ggg    234   yes     20
1   juk    402    no     30
2   fgt    206     n     78
3   fas    290     y    209
4   dst    680     Y    823

In [7]:
dfa['col_c'].replace("Y", "y")

0    yes
1     no
2      n
3      y
4      y
Name: col_c, dtype: object

In [15]:
dicta = {"f[aeiou]":"F[aeiou]", "t":"T"}

dfa['col_a'].replace(dicta, regex=True)

0          ggg
1          juk
2          fgT
3    F[aeiou]s
4          dsT
Name: col_a, dtype: object

In [20]:
dictb = {"y":"y", "Yes":"y", "YEs":"y", "YES":"y", "Y":"y"}

dictc = {"[yY].*":"y", "[nN].*":"n"}

dfa['col_c'].replace(dictc, regex=True)

0    y
1    n
2    n
3    y
4    y
Name: col_c, dtype: object

In [18]:
dfa

  col_a  col_b col_c  col_d
0   ggg    234   yes     20
1   juk    402    no     30
2   fgt    206     n     78
3   fas    290     y    209
4   dst    680     Y    823

In [21]:
dictb = {"y":"y", "Yes":"y", "YEs":"y", "YES":"y", "Y":"y"}

dictc = {"[yY].*":True, "[nN].*":False}

dfa['col_c'].replace(dictc, regex=True)

0     True
1    False
2    False
3     True
4     True
Name: col_c, dtype: bool

In [22]:
import os

In [26]:
os.getcwd()

'C:\\Users\\Admin\\Desktop\\tech_data\\day_7\\pandas'

In [31]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas\\code_A.xlsx"

In [32]:
pd.read_excel(path).to_csv("code_A.csv")

In [33]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

os.listdir(path)

['.ipynb_checkpoints',
 'annual-enterprise-survey-2020-financial-year-provisional-size-bands-csv.csv',
 'code_A.xlsx',
 'data.csv',
 'no_column_data.csv',
 'pandas_1.ipynb',
 'pandas_2.ipynb',
 'pandas_join.ipynb']

In [35]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(filename)

In [41]:
"hello"+"hi"

'hellohi'

In [42]:
path+"\\"+"code_A.xlsx"

'C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas\\code_A.xlsx'

In [36]:
list_excel

['code_A.xlsx']

In [39]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(filename)

if len(list_excel) == 0:
    print("sorry no excel file found in the path given by you")
elif len(list_excel) == 1:
    namea = pd.ExcelFile(path+"\\"+list_excel[0])
    print(namea.sheet_names)

['Sheet1']

In [44]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(filename)

if len(list_excel) == 0:
    print("sorry no excel file found in the path given by you")
elif len(list_excel) == 1:
    excel_obj = pd.ExcelFile(path+"\\"+list_excel[0])
    #excel_obj.sheet_names
    dfa = pd.read_excel(path+"\\"+list_excel[0], excel_obj.sheet_names[0])

In [45]:
dfa

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
805,2020,A,"Agriculture, Forestry and Fishing",i_Industry_Total,Total income,47266,DOLLARS(millions)
806,2020,A,"Agriculture, Forestry and Fishing",i_Industry_Total,Total expenditure,39965,DOLLARS(millions)
807,2020,A,"Agriculture, Forestry and Fishing",i_Industry_Total,Operating profit before tax,5314,DOLLARS(millions)
808,2020,A,"Agriculture, Forestry and Fishing",i_Industry_Total,Total assets,186120,DOLLARS(millions)
809,2020,A,"Agriculture, Forestry and Fishing",i_Industry_Total,Fixed tangible assets,107169,DOLLARS(millions)

In [46]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(path+"\\"+filename)

In [47]:
list_excel

['C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas\\code_A.xlsx']

In [57]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(path+"\\"+filename)

if len(list_excel) == 0:
    print("sorry no excel file found in the path given by you")
elif len(list_excel) == 1:
    excel_obj = pd.ExcelFile(list_excel[0])
    if len(excel_obj.sheet_names) == 1:
        dfa = pd.read_excel(list_excel[0], sheet_name=excel_obj.sheet_names[0])
        dfa.to_csv(list_excel[0].replace("xlsx", "csv"))
else:
    for name in list_excel:
        excel_obj = pd.ExcelFile(name)
        if len(excel_obj.sheet_names) == 1:
            dfa = pd.read_excel(name, sheet_name=excel_obj.sheet_names[0])
            dfa.to_csv(name.replace("xlsx", "csv"))

In [58]:
list_excel

['C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas\\code_A.xlsx',
 'C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas\\code_B.xlsx']

In [ ]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(path+"\\"+filename)

if len(list_excel) == 0:
    print("sorry no excel file found in the path given by you")
else:
    for name in list_excel:
        excel_obj = pd.ExcelFile(name)
        if len(excel_obj.sheet_names) == 1:
            dfa = pd.read_excel(name, sheet_name=excel_obj.sheet_names[0])
            dfa.to_csv(name.replace("xlsx", "csv"))
        else:
            for sn in excel_obj.sheet_names:
                dfa = pd.read_excel(name, sheet_name=sn)
                dfa.to_csv(name+"_"+sn.replace("xlsx", "csv"))

In [ ]:
path = "C:\\Users\\Admin\\Desktop\\tech_data\\day6\\pandas"

list_files = os.listdir(path)
list_excel = []

for filename in list_files:
    if filename.endswith(".xlsx") | filename.endswith(".xls"):
        list_excel.append(path+"\\"+filename)

if len(list_excel) == 0:
    print("sorry no excel file found in the path given by you")
else:
    for name in list_excel:
        excel_obj = pd.ExcelFile(name)
        for sn in excel_obj.sheet_names:
            dfa = pd.read_excel(name, sheet_name=sn)
            dfa.to_csv(name+"_"+sn.replace("xlsx", "csv"))

In [59]:
path = "C:\\Users\\Admin\\Desktop\\tech_data"
    
os.listdir(path)

['.ipynb_checkpoints',
 'assignments',
 'code_files',
 'day1',
 'day2',
 'day3',
 'day4',
 'day5',
 'day6',
 'day_7',
 'other_data',
 'zipped folders']